@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

body {
    -padding-top: 70px;
}

h1, h6 {
    text-align: center;
}

h3 {
    margin: 0;
}

p {
    text-align: center;
}

.foodie-subtitle {
    margin: -10px 0 0 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.navbar {
    background-color: #E74C3C;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-right {
    font-family: 'Josefin Sans', sans-serif;
}

.signup-reminder {
    background-color: #e7a23c;
    text-align: center;
    padding: 2px 0;
    font-size: 12pt;
}

.signup-reminder a {
    color: #fff;
    text-decoration: none;
}

.blockimage {
    width: 300px;
    height: 130px;
    background-color: #E74C3C;
    color: white;
    box-shadow: 0 8px 6px -6px black;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: auto auto 50px;
}

.jumbotron {
    height: 710px;
    -background: url("../images/restaurant_icons.png") repeat;
    background-color: white;
    padding-top: 70px;
}

.fancy {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    letter-spacing: 3px;
    color: #E74C3C;
    text-shadow: 2px 2px black;
}

.navbartext {
    letter-spacing: normal;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: #E74C3C;

}

#topspacing {
    margin-top: 50px;
}

.btn {
    background-color: #3C82E7;
    color: #fff;
}

.btn-primary {
    background-color: #E74C3C;
    width: 60px;
}

.form-control {
    -color: #FF3B30;
}

.container {
    font-family: 'Josefin Sans', sans-serif;
}

.center {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    margin-top: 40px;
    color: white;
}

.row-margin {
    margin-bottom: 20px;
}

.foodie-rating {
    text-align: center;
}

span.foodie-rating {
    margin: 0 2px;
}

.fa-star {
    font-size: 18pt;
    color: #FFA200;
}

.no-star {
    font-size: 18pt;
    color: #C9C9C9;
}

.foodie-time {

}

.fa-clock-o {
    font-size: 18pt;
}

.foodie-missing {
    font-size: 14pt;
    color: #E74C3C;
}

.foodie-match {
    text-align: center;
    background-color: #e74c3c;
}

.progress-bar {
    background-color: #00dd24;
}

.progress-bar span {
    font-size: 18pt;
    margin: 5px 0;
}

#eggs1 {
    background: url(https://myyellowfarmhouse.files.wordpress.com/2013/08/eggs-in-a-frame-cooked1.jpg);
}

#eggs2 {
    background: url(http://i.huffpost.com/gadgets/slideshows/323746/slide_323746_3079600_free.jpg);
}

#eggs3 {
    background: url(http://vitalfarms.com/wp-content/uploads/2014/02/scrambled-eggs.jpg);
}

#eggs1, #eggs2, #eggs3 {
    background-size: cover !important;
}

.progress {
    position: relative;
    height: 30px;
    margin: 5px 0;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #fff;
}

.dropdown-toggle {
    width: 120px;
}

#cookware_jumbo {
    margin-top: -40px;
}

html, body, #tags {
    font-family: 'Josefin Sans', sans-serif;
}

#cookware_search {
    padding-top: 50px;
}

.remove_ex {
    width: auto;
}

.btn-ing {
    background-color: #E74C3C;
}

.group_food {
    padding-bottom: 30px;
}