@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lobster); 
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	padding-top:70px;
}

h1, h6 {
	text-align:center;
}

h3 {
	margin:0;
}

p {
	text-align:center;
}

.foodie-subtitle {
	margin:-10px 0px 0px 0px;
    font-family: 'Raleway', sans-serif;
    font-size:18px;
}

.navbar {
	background-color:#E74C3C;
}

.navbar-default .navbar-brand {
	color:#fff;
	font-size:24px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar-right{
    font-family: 'Raleway', sans-serif;
}

.blockimage{
    width:300px;
    height:130px;
    background-color:#E74C3C;
    margin: auto;
    color:white;
    box-shadow: 0 8px 6px -6px black;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom:50px;
}

.jumbotron {
  background-image:url("index.jpg"); 
  height: 710px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.fancy {
	font-family: 'Lobster', cursive;
    font-size:4em;
    letter-spacing: 3px;
    color:#E74C3C;
    text-shadow: 2px 2px black;
}

.navbartext {
    letter-spacing:normal;
    font-family: 'Lobster', cursive;
    font-size:4em;
    color:#E74C3C;
    text-shadow: 2px 2px black;

}

#topspacing {
    margin-top: 50px;
}

.btn {
	background-color:#3C82E7;
	color:#fff;
}

.btn-primary {
    background-color:#E74C3C;
    width:60px;
    height:20px;
}


.form-control {
	color:#FF3B30;
}

.container {
    font-family: 'Raleway', sans-serif;
}

.center {
	text-align:center;
    font-family: 'Raleway', sans-serif;
    font-size:26px;
    margin-top:40px;
    color: white;
}

.row-margin {
	margin-bottom:20px;
}

.foodie-rating {

}

.foodie-time {

}

.foodie-missing {

}

.foodie-match {
	text-align:center;
	background-color:#e74c3c;
}

.progress-bar {
	background-color:rgb(38, 230, 34);
}

.progress-bar span {
	font-size:18pt;
	margin:5px 0px;
}
