body {
	padding-top:70px;
}

h1, h6 {
	text-align:center;
}

p {
	text-align:center;
}

.foodie-subtitle {
	margin:-10px 0px 0px 0px;
}

.navbar {
	background-color:#FF3B30;
}

.navbar-default .navbar-brand {
	color:#fff;
	font-size:24px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.fancy {
	font-family: 'Lobster', cursive;
}

.btn {
	background-color:#3C82E7;
	color:#fff;
}

.form-control {
	color:#FF3B30;
}

.center {
	text-align:center;
}

.row-margin {
	margin-bottom:20px;
}

.foodie-rating {

}

.foodie-time {

}

.foodie-missing {

}

.foodie-match {
	text-align:center;
	color:rgb(38, 230, 34);
	font-size:18pt;
}