@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lobster); 
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
	padding-top:70px;
}

h1, h6 {
	text-align:center;
}

p {
	text-align:center;
}

.foodie-subtitle {
	margin:-10px 0px 0px 0px;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
}

.navbar {
	background-color:#E74C3C;
}

.navbar-default .navbar-brand {
	color:#fff;
	font-size:24px;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar-right{
    font-family: 'Oswald', sans-serif;
}

.fancy {
	font-family: 'Lobster', cursive;
    font-size:4em;
    letter-spacing: 3px;
    color:#E74C3C
}

.navbartext {
    letter-spacing:normal;
}

#topspacing {
    margin-top: 50px;
}

.btn {
	background-color:#3C82E7;
	color:#fff;
}

.form-control {
	color:#FF3B30;
}

.center {
	text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:26px;
    margin-top:40px;
}

.row-margin {
	margin-bottom:20px;
}

.foodie-rating {

}

.foodie-time {

}

.foodie-missing {

}

.foodie-match {
	text-align:center;
	color:rgb(38, 230, 34);
	font-size:18pt;
}